.editProfile {
	height: 2000px;
	width: 100%;
}

.profileName {
	height: 200px;
	padding: 30px;
}

.aboutMe {
	height: 200px;
	padding: 30px;
}

.details {
	height: 200px;
	padding: 30px;
}

.details select {
	box-sizing: border-box;
    padding: 0 5px;
    border-radius: 4%;
    font: 16px/38px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    color: #585858;
    text-align: center;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    width: 150px;
}

.details label{
	width: 100px;
	text-align: center;
	pointer-events: none;
	font-size: 15px;
    font-weight: 500;
}

#form3 {
	text-align: center;
	opacity: 0;
}

.personality {
	padding: 30px;
	height: 600px;
	height:200px;
	overflow: hidden;
}

.profileName h4, .aboutMe h4, .details h4, .personality h4 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	font-size: 30px;
}

.profileName select {
	width: 117px;
}

.editProfileForm {
	width: 100%;
	height: 0px;
	overflow: hidden;
}

.editProfileForm label {
	width: 100px;
	text-align: center;
	pointer-events: none;
	font-size: 15px;
    font-weight: 500;
}

.editProfileform select {
	box-sizing: border-box;
    padding: 0 5px;
    border-radius: 4%;
    font: 16px/38px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    color: #585858;
    text-align: center;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    width: 150px;
}

.editProfileForm input[type="text"], .editProfileForm input[type="number"] {
	display: flex;
	width: 360px;
	flex-wrap: wrap;
	border: 1px solid grey;
	display: inline;
	-webkit-tap-highlight-color: rgba(0,0,0,0.001);
}

.lookingFor {
	width: 360px;
	border: 1px solid grey;
}

.year, .month, .date {
	width: 90px;
	border: 1px solid grey;
}

.pclose {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: white;
	position: relative;
	border: 2px solid #cbcbcb;
	animation: 1s;
	opacity: 0;
	font-family: cursive;
	right: -35%;
	float: left;
	display: inline;
}

.psave {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: #42a5f5;
	position: relative;
	border: none;
	animation:  1s;
	opacity: 0;
	float: left;
	display: inline;
	font-family: cursive;
	right: -42%;
}



.aclose {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: white;
	position: relative;
	border: 2px solid #cbcbcb;
	transition: 1s;
	opacity: 0;
	font-family: cursive;
	float: left;
	display: inline;
	right: -35%;
}

.asave {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: #42a5f5;
	position: relative;
	border: none;
	transition: 1s;
	opacity: 0;
	float: left;
	display: inline;
	font-family: cursive;
	right: -42%;
}

#aboutMeText {
	width: 360px;
	opacity: 0;
}

.dclose {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: white;
	position: relative;
	border: 2px solid #cbcbcb;
	opacity: 0;
	transition: 2s;
	float: left;
	display: inline;
	right: -35%;
}

.dsave {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: #42a5f5;
	position: relative;
	border: none;
	opacity: 0;
	transition: 2s;
	float: left;
	display: inline;
	right: -42%;
	
}

.prclose {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: white;
	position: relative;
	border: 2px solid #cbcbcb;
	transition: 2s;
	opacity: 0;
	float: left;
	display: inline;
	right: -35%;
}

.prsave {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: #42a5f5;
	position: relative;
	border: none;
	transition: 2s;
	opacity: 0;
	float: left;
	display: inline;
	right: -42%;
}

.prPclose {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: white;
	position: relative;
	border: 2px solid #cbcbcb;
	transition: 2s;
	opacity: 0;
	float: left;
	display: inline;
	right: -35%;
}

.prPsave {
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 35px;
	display: block;
	background-color: #42a5f5;
	position: relative;
	border: none;
	transition: 2s;
	opacity: 0;
	float: left;
	display: inline;
	right: -42%;
}

.orientation,
.education ,
.height,
.relationship_status,
.built,
.facial_hair,
.work_status,
.weight,
.glasses {
	width: 100px;
}

.personality input {
	width: 360px;
}