@import url("team.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.clear {
    zoom: 1;
}
main {
    min-height: 540px;
    max-height: 820px;
    position: relative;
    background: #000;
    overflow: hidden;

}

.main-slogan {
    text-align: center;
    font: 48px/1.2 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
}

header {
    height: 80px;
}

video {
    object-fit: contain;
}

main .video_back {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
}

.video-background {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 540px;
    position: relative;
    z-index: 1;
}

.main-content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81,81,81,0.45);
}

.reg-btns-holder {
    margin-top: 100px;
    width: 700px;
    display: flex;
}

#fbBtn{
	margin-left:5%;
}


.reg-btns-divider {
    font: 18px/55px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    font-weight: 500;
    position: relative;
    text-align: center;
    color: #fff;
}

* {
    margin: 0 auto;
    padding: 0;
}


.clear {
    zoom: 1;
}

.or {
	display:inline;
	font-size:30px;
	font-weight:bold;
	color:white;
	margin-left:85px;
}

.log-in-btn {
    transition: all 0.2s ease;
    display: block;
    float: right;
    margin: 40px 40px 0 0;
    font: 16px/30px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
    background: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
/***/
.login-form-holder {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66,165,245,.8);
    display: none;
}
/****/
.login-to-reg-btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    font: 16px/30px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
    background: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.login-to-reg-btn:hover {
  background-color: #00008B;
  transition: .5s;
}
/***/
.login-form-content {
    max-width: 1170px;
    margin-top: 30px;
}


.button-e {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  position: relative;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px;
  width: 250px;
  height:50px;
  font-weight:500;
  transition: all 0.5s;
  cursor: pointer;
  margin-left:-80px;

}

.button-e span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-e span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-e:hover{
	background-color: #c71610;
}
.button-e:hover span {

  padding-right: 25px;
}

.button-e:hover span:after {
  opacity: 1;
  right: 0;
}

/***********************************************/

.button-f {
  display: inline-block;
  float:right;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px;
  width: 250px;
  height:50px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right:-80px;
}

.button-f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-f:hover{
	background-color: #3b5998;
}
.button-f:hover span {

  padding-right: 25px;
}

.button-f:hover span:after {
  opacity: 1;
  right: 0;
}

/* Sign In form */

.signin {
  width: 100%;
  height: 720px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(66,165,245,.8);
  transform: perspective(1000px) rotateY(90deg) scale(0);
  transition: .5s;
}


.active {
  transform: perspective(1000px) rotateY(0deg) scale(1);
}

.logo {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-left: 45%;
}

#sign-in-heading {
  font: 22px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  padding-left: 30px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  margin-left: 46%;
  color: #fff;
}

.signin-label {
  font: 16px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  color: #fff;
  text-align: right;
  line-height: 40px;
}

.login-input {
  width: 305px;
  height: 40px;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  float: right;
  font: 16px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  color: #585858;
}

.login-btn{
    display: block;
    background: #ab47bc;
    width: 305px;
    height: 40px;
    color: #fff;
    font: 16px/30px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    border-radius: 2px;
    float: right;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


#log-in-btn:hover {
  transition: all 0.5s ease;
  background-color: red;
}

.signin-form1 {
    height: 198px;
    width: 500px;
    margin-left: 91px;
    margin-top: 29px;
    text-align: center;
  }

  .back-to-main-content {
    height: 40px;
    width: 40px;
    float: left;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
    font-size: 30px; 
    margin-top: 30px;
    margin-left: 30px;
    text-decoration: none;
  }

  .back-to-main-content:hover {
    
    cursor: pointer;
  }

#sign {
    text-decoration: none;
}

.conn-with-fb {
  width: 305px;
  height: 40px;
  background: #3b5998;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 10px;
  float: right;
  font: 16px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  color: #fff;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  margin-top: 225px;
    margin-right: 220px;
}

.conn-with-fb:hover {
    opacity: .8;
    transition: .3s;
    text-decoration: none;
}
/* Sign In form ends */


/* Register Form */

.register {
  width: 100%;
  height: 720px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(66,165,245,.8);
  transform: perspective(1000px) rotateY(90deg) scale(0);
  transition: .5s;
}


.active {
  transform: perspective(1000px) rotateY(0deg) scale(1);
}

.logo {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-left: 45%;
}

#register-heading {
  font: 22px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 36%;
  color: #fff;  
}



.login-input {
  width: 305px;
  height: 40px;
  background: white;
  border-radius: 2px;
  padding: 0 10px;
  float: right;
  border: none;
  font: 16px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
  color: #585858;
}

.login-btn{
    display: block;
    background: #ab47bc;
    width: 305px;
    height: 40px;
    color: #fff;
    font: 16px/30px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    border-radius: 2px;
    float: right;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
}

.register-form1 {
    height: 198px;
    width: 500px;
    margin-left: 91px;
    margin-top: 29px;
    text-align: center;
}

.log-in-btn1 {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    font: 16px/30px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    font-weight: bold;
    background: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

#log-in-btn1:hover {
  background-color: #00008B;
  transition: .5s;
}

#reg {
    text-decoration: none;
}

.drop-down {
    box-sizing: border-box;
    padding: 0 5px;
    border: none;
    border-radius: 2px;
    font: 16px/38px 'Ubuntu','Trebuchet MS',Arial,sans-serif;
    color: #585858;
    background: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
}

.month {
    margin-left: 10px;
}

.gender {
    margin-left: 10px;
}

.looking-for {
    margin-left: 10px;
}
/* Register ends */


/* Hides scroll bar */
::-webkit-scrollbar { 
    display: none; 
}